SNOWFLAKE_ACCOUNT=your_account_here
SNOWFLAKE_USER=your_username_here
SNOWFLAKE_PASSWORD=your_password_here
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_DATABASE=SMART_BANKING
SNOWFLAKE_SCHEMA=FRAUD
SNOWFLAKE_WAREHOUSE=smart_banking_wh
